.checkoutcomponent .container{
    display: flex;
}
.checkoutcomponent .pickupform{
    width: 50%;
}
.checkoutcomponent .pickupform form{
    margin: 20px;
}
.checkoutcomponent .pickupform form .form-control{
    margin-bottom: 10px;
    border-color: #DDC097;
    color: #A97A38;
}
label{
    color: #A97A38;
}
::placeholder{
    color: #A97A38;
}
#submitbtn{
    background-color: #A97A38;
    color: #fff;
}
.flex_inputs{
    display: flex;
    justify-content: space-between;
}
.itemspicked{
    width:50%;
    color: #A97A38;
}
.checkoutcomponent{
    min-height:70vh;
}