<div class="welcomebody">
   <div class="container">
    <div class="navbars">
        <app-navbar></app-navbar>
    </div>
    <div class="flex_welcometext">
        <div class="welcometexts">
            <h2>Look good at an affordable price.</h2>
            <p>Cshop offers you a chance to change your wardrobe and look good at a very easy and affordable price.
                We have greate offers every weekend.
            </p>
            <h4>Take a chance and grab yours today.</h4>
            <div class="buttons"><button class="btn shadow-none">see products</button></div>
        </div>
        <div class="shoppingsimages">
            <img src="../../assets/images/shoppings.png" alt="">
        </div>
    </div>
   </div>
</div>
<div class="homepagecomponent">
    <div class="container">
        <app-footer></app-footer>
    </div>
</div>