<div class="welcomebody">
   <div class="container">
    <div class="navbars">
        <app-navbar></app-navbar>
    </div>
    <div class="flex_welcometext">
        <div class="welcometexts">
            <h2>Look good at an affordable price.</h2>
            <p>Cshop offers you a chance to change your wardrobe and look good at a very easy and affordable price.
                We have greate offers every weekend.
            </p>
            <h4>Take a chance and grab yours today.</h4>
            <div class="buttons"><a routerLink="/cshop/items"><button class="btn shadow-none">see products</button></a></div>
        </div>
        <div class="shoppingsimages">
            <img src="../../assets/images/shopping.png" height="100%" width="100%" alt="">
        </div>
    </div>
   </div>
</div>
<div class="homepagecomponent">
    <div class="container">
        <div class="howtopurchase">
        </div>
        <div class="flex_procedures">
            <div class="createaccount">
                <div class="number"><div class="fists text-center">1</div></div>
                <h3 class="text-center">Create Account</h3>
                <p>Create account to be able to shop with us. if already signup you login and follow next step</p>
            </div>
            <div class="selectitem">
                <div class="number"><div class="fists text-center">2</div></div>
                <h3 class="text-center">Select Item</h3>
                <p>Go to items menu and select whatever item you need that matches your target ammount and taste of clothe.</p>
            </div>
            <div class="checkout">
                <div class="number"><div class="fists text-center">3</div></div>
                <h3 class="text-center">Check Out</h3>
                <p>Navigate to the cat page. here you can increse quantity or decrese. When satisfied. click on checkout on the cart page and fill your delivery information.</p>
            </div>
        </div>
       
    </div>
</div>
<app-footer></app-footer>