.welcomebody{
    background-color: #F4F8F4;
    color:#698566;
    height: 100vh;
}
.welcometexts{
    width: 50%;
    margin-top: 10%;
}
.welcometexts button{
    border-radius: 20px;
    background-color: #698566;
    color: #F4F8F4;
    font-size: 18px;
}
.flex_welcometext{
    display: flex;
}
.navbars{
    position: sticky;
    top: 0;
}
.shoppingsimages{
    width: 50%;
    height: 100%;
    margin-top: 10%;
}
.welcometexts h2{
    font-weight: bold;
    font-size: 3em;
}
.flex_procedures{
    display: flex;
    justify-content: space-between;
}
.homepagecomponent{
    margin-top: 30px;
    margin-bottom: 30px;
}
.flex_procedures .createaccount,.flex_procedures .selectitem,.flex_procedures .checkout{
    width: 30%;
}
.flex_procedures{
    color: #698566;
}
.number .fists{
    color: #698566;
    border: 1px solid #698566;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: auto;
}

@media screen and (max-width: 900px){
    .shoppingsimages{
        display:none;
    }
    .welcometexts{
        width:90%;
    }
}
@media screen and (max-width: 450px){
    .flex_procedures{
        display:block;
    }
    .flex_procedures .createaccount,.flex_procedures .selectitem,.flex_procedures .checkout{
        width: 90%;
        margin:auto; 
    }
}