<div class="nav_bgs">
    <div class="container">
        <app-navbar></app-navbar>
    </div>
</div>
<div class="historycomponent">
    <div class="container">
        <div class="sort_items">
            <div class="form-group">
                <select name="selectitem" [(ngModel)]="selectitem" id="selectitem" class="form-control shadow-none">
                    
                    <option value="" *ngFor="let category of cateroies">{{ category.itemcategory }}</option>
                    
                </select>
            </div>
        </div>
        <div class="flex_itemsall">
            <div class="card" *ngFor="let item of items">
                <div class="card-bodt">
                    <div class="itemiamges"><img src="{{ 'https://res.cloudinary.com/dwvjgc2l0/' + item.item_image }}" width="100%" height="100%" alt=""></div>
                    <div class="flex_">
                        <div class="itemnames">{{ item.item_name }}</div>
                        <div class="itemprice">Kshs. {{ item.item_price }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>