<div class="nav_bgs">
    <div class="container">
        <app-navbar></app-navbar>
    </div>
</div>
<div class="historycomponent">
    <div class="container">
        <div class="sort_items">
            <div class="form-group">
                <select name="selectitem" [(ngModel)]="selectitem" id="selectitem" class="form-control shadow-none">
                    
                    <option value="" *ngFor="let category of cateroies">{{ category.itemcategory }}</option>
                    
                </select>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>