.sort_items{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
}
.form-control{
    border-color: #B9D3B8;
    height: 45px;
    border-radius: 22px;
    padding-left: 25px;
    color:#698566;
}
.historycomponent{
    min-height:70vh;
}
.flex_itemsall{
    display:flex;
    column-gap:20px;
    row-gap:20px;
    flex-wrap:wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}
.flex_itemsall .card{
    width: 200px;
}
.flex_itemsall .card .itemiamges{
    width:100%;
    height:150px;
}
.flex_dets{
    display:flex;
    justify-content: space-between;
    font-size: 14px;
}
.itemprice{
    font-weight: 200;
}
.addtocart button{
    background-color: #A97A38;
    color: #fff;
    width: 100%;
}