<nav>
    <div class="nav-links">
        <a routerLink="/cshop"><button class="btn shadow-none">Home</button></a>
        <a routerLink="/cshop/items"><button class="btn shadow-none">Items</button></a>
        <a routerLink="/cshop/cart"><button class="btn shadow-none">Cart</button></a>
        <a routerLink="/cshop/history"><button class="btn shadow-none">History</button></a>
        <a routerLink="/"><button class="btn shadow-none">Logout</button></a>
        <a routerLink="/"><button class="btn shadow-none">Login</button></a>
    </div>
</nav>