<!-- <nav>
    <div class="nav-links">
        <a routerLink="/cshop"><button class="btn shadow-none">Home</button></a>
        <a routerLink="/cshop/items"><button class="btn shadow-none">Items</button></a>
        <a routerLink="/cshop/cart"><button class="btn shadow-none">Cart</button></a>
        <a routerLink="/cshop/history"><button class="btn shadow-none">History</button></a>
        <a routerLink="/" *ngIf="user != ''"><button class="btn shadow-none">Logout</button></a>
        <a routerLink="/" *ngIf="user == ''"><button class="btn shadow-none">Login</button></a>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/cshop">C-SHOP</a>
  <button class="navbar-toggler shadow-none" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" >
    <ul class="navbar-nav  me-auto mb-2 mb-lg-0" style="text-align:right;">
      <li class="nav-item active">
        <a class="nav-link" href="/cshop">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cshop/items">Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cshop/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cshop/history">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Logout</a>
      </li>
    </ul>
  </div>
</nav>
