.nav-links a button{
    color:#fff;
    font-size: 23px;
    font-weight: bold;
}
.nav-link{
    color:#fff !important;
    font-size: 23px;
}
nav{
    padding: 15px 0px 15px 0px;
}
/* #navbarNav{
    text-align: right !important;
} */
