#submitbtn{
    height: 45px;
    border-radius: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #A97A38;
}
.checkout{
    margin-top: 20px;
    margin-bottom: 20px;
}
.historycomponent{
    min-height:70vh;
}