<div class="nav_bgs">
    <div class="container">
        <app-navbar></app-navbar>
    </div>
</div>
<div class="historycomponent">
    <div class="container">
        <div class="items"></div>
        <div class="checkout">
            <a routerLink="/cshop/checkout"><button class="btn shadow-none" id="submitbtn">Proceed to Checkout</button></a>
        </div>
    </div>
    <div class="container">
        <div class="carttable">
            <table class="table table-active">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Item</td>
                        <td>Description</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td><button class="btn btn-danger text-light"><i class="fa-solid fa-xmark"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>