/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr';

body{
    font-family: Arial, Helvetica, sans-serif;
}

::selection {
    background: #c8e4d1; /* WebKit/Blink Browsers */
  }
::-moz-selection {
background: #c8e4d1; /* Gecko Browsers */
}
.nav_bgs{
  background-color: #F4F8F4;
}

@media screen and (max-width: 480px){
  .nav-links a{
    display:inline-block !important;
  }
}