/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr';

body{
    font-family: Arial, Helvetica, sans-serif;
}

::selection {
    background: #CB9F60; /* WebKit/Blink Browsers */
  }
::-moz-selection {
background: #CB9F60; /* Gecko Browsers */
}
.nav_bgs{
  background-image:linear-gradient(to left, #CB9F60, #CB9F60, #DDC097);
  position: sticky;
  top:0;
}

@media screen and (max-width: 480px){
  .nav-links a{
    display:inline-block !important;
  }
}