<div class="flex_registration">
   <div class="container">
        <div class="loginform">
            <h3  class="text-center">Welcome back to cshop</h3>
            <h4 class="text-center">Login</h4>
            <form action="" method="post" autocomplete="off">
                <div class="form-group">
                    <label for="useremail">Email Adress<sup class="text-danger">*</sup></label>
                    <input type="email" name="useremails" id="useremails" class="useremail shadow-none form-control" placeholder="Enter Email Adress">
                </div>
                <div class="form-group">
                    <label for="useremail">Password<sup class="text-danger">*</sup></label>
                    <input type="password" name="userpassword" id="userpassword" class="useremail shadow-none form-control" placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <input type="submit" value="SignIn" class="btn btn-primary" id="submitbtn">
                </div>
            </form>
        </div>
        <div class="signupform">
            <h3  class="text-center">Welcome to cshop</h3>
            <p  class="text-center">Your number one clothe store. let us dress you</p>
            <div class="sociallinks text-center ">
                <button class="btn shadow-none"><i class="fa-brands fa-facebook-f"></i></button>
                <button class="btn shadow-none"><i class="fa-brands fa-google"></i></button>
                <button class="btn shadow-none"><i class="fa-brands fa-linkedin-in"></i></button>
            </div>
            <form action="" method="post" autocomplete="off">
                <div class="form-group">
                    <label for="useremail">Email Adress<sup class="text-danger">*</sup></label>
                    <input type="email" name="useremail" id="useremail" class="useremail shadow-none form-control" placeholder="Enter Email Adress">
                </div>
                <div class="form-group">
                    <label for="useremail">Password<sup class="text-danger">*</sup></label>
                    <input type="password" name="password" id="password" class="useremail shadow-none form-control" placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <label for="useremail">Confirm Password<sup class="text-danger">*</sup></label>
                    <input type="password" name="cpassword" id="cpassword" class="useremail shadow-none form-control" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                    <input type="submit" value="Create Account" class="btn btn-primary" id="submitbtn">
                </div>
                <p class="text-center">By clicking submit, you agree with our terms and conditions.</p>
            </form>
        </div>
   </div>
</div>