.flex_registration{
    height: 100vh;
    width: 100vw;
    color:#A97A38;
    /* background-color: #DDC097; */
}
.flex_registration .container{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    height: 100%;
}
.loginform{
    width: 50%;
}
.signupform{
    width: 50%;
}
.form-group{
    margin-bottom: 10px;
}
.form-control{
    height: 45px;
    outline: none !important;
    background-color: inherit !important;
    color: #A97A38;
    border-color: #DDC097;
}
::placeholder{
    color:#DDC097 !important;
}
form{
    width: auto;
    max-width: 60%;
    margin: auto;
}
#submitbtn{
    height: 45px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    background-color: #A97A38;
    color: #fff;
    border: 2px solid #A97A38;
    transition: 2s;
}
#submitbtn:hover{
    background-color: #fff;
    color: #A97A38;
}
.sociallinks{
    margin-bottom: 15px;
}
.sociallinks .btn{
    color: #A97A38;
    border: 1px solid #A97A38;
    height: 45px;
    width: 45px;
    margin-right: 15px;
    border-radius: 50%;
}
.sociallinks .btn:hover{
    color: #fff;
    background-color: #A97A38;
}
label{
    color:#A97A38;
}

.loginform,
.signupform{
    min-width: 300px;
}
.signupform p{
    font-size: 12px;
}

@media screen and (max-width: 700px){
    .flex_registration{
        height: 100%;
        width: 100%;
    }
    .flex_registration .container{
        display: block;
    }
    .loginform,
    .signupform{
        width: 100%;
    }
    .loginform form,
    .signupform form{
        width: 90%;
    }
}